@include keyframes(fadeIn) {
    from { opacity: 0; }
    to { opacity: 1; }
}

@include keyframes(slideDown) {
    from { @include transform(translate3d(0, -1em, 0)); }
    to { @include transform(translate3d(0, 0, 0)); }
}

@include keyframes(slideDownFadeIn) {
    from { opacity: 0; @include transform(translate3d(0, -1em, 0)); }
    to { opacity: 1; @include transform(translate3d(0, 0, 0)); }
}

@include keyframes(slideUp) {
    from { @include transform(translate3d(0, 1em, 0)); }
    to { @include transform(translate3d(0, 0, 0)); }
}

@include keyframes(slideUpFadeIn) {
    from { opacity: 0; @include transform(translate3d(0, 1em, 0)); }
    to { opacity: 1; @include transform(translate3d(0, 0, 0)); }
}

@include keyframes(slideFromRightFadeIn) {
    from { opacity: 0; @include transform(translate3d(4em, 0, 0)); }
    to { opacity: 1; @include transform(translate3d(0, 0, 0)); }
}

@include keyframes(slideFromRight) {
    from { @include transform(translate3d(4em, 0, 0)); }
    to { @include transform(translate3d(0, 0, 0)); }
}

@include keyframes(rotate) {
    from { @include transform(rotate(0deg)); }
    to { @include transform(rotate(360deg)); }
}
