.sortType1 {

    display: inline-block; opacity: 0.5;

    &:hover { opacity: 1; }

    .selectType1 {

        background-color: transparent; box-shadow: none; border: 0;

        &:before {

            font-size: 1.2em;
            content: map-get($icons, 'sort'); color: $colorGrayDark2; text-align: right;

        }

        > button {

            // @include fontSansCondensedBold;

            font-size: 1.4em; padding-left: em(5,14); padding-right: em(15,14);
            letter-spacing: 0.02em;

            > span {

                opacity: 0.7;

                &:after { content: ": "; }

            }

        }

    }

}