<div class="inner">
    <button class="submitBtn" type="submit">{{ filterButtonCaption }}</button>
</div>
<button type="button" class="toggleBtn nBtn icr iconFilters">{{ toggleButtonCaption }}</button>
<button type="button" title="{{ toggleSizeButtonCaption }}" class="toggleSizeBtn nBtn icr iconThreeDots">{{ toggleSizeButtonCaption }}</button>
