<!DOCTYPE html>
<html>

    <head lang="hr">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>Admin login</title>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui"/>

    </head>

    <body>

        <section class="login">

            <!-- <h1 class="title">Admin login</h1> -->

            <form action="/login" method="post" class="form">

                <!-- <div class="messageType1 error">Something went wrong</div> -->

                <div class="formItem">
                    <label for="username">Username</label>
                    <input type="email" class="textInput" id="username" name="username" value="" required="required" />
                </div>

                <div class="formItem">
                    <label for="password">Password</label>
                    <input type="password" class="textInput" id="password" name="password" value="" required="required" />
                </div>

                <div class="formItem">
                    <input type="checkbox" class="checkboxInput" id="rememberMe" name="rememberMe" checked/>
                    <label for="rememberMe" class="icr iconCheckmark">Remember me</label>
                </div>

                <button type="submit" class="cta" name="_submit">Login</button>

                <!-- <div class="formItem link">
                    <a href="#">Forgot your password?</a>
                </div> -->

            </form>

        </section>

    </body>
</html>
